{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "max-len": [
      1,
      140,
      2
    ],
    "react/prop-types": [
      0
    ],
    "react/destructuring-assignment": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^app\/.+$"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ]
  },
  "settings": {
    "import/core-modules": [
      "app"
    ]
  }
}